*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Estado Inicial contenedor*/
#contenedor{
    width: 20px;
    height: 100px;
    margin-top: 20px;
    background: green;
}
#contenedor.inactivo{
    width: 20px;
    height: 100px;
    margin-top: 20px;
    background: red;
}